<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <property name="PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t-%L] %-5level
            %logger{36} - %msg%n</property>
    </Properties>

    <Appenders>
        <!--这个输出控制台的配置 -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>
    </Appenders>

    <!--然后定义logger，只有定义了logger并引入的appender，appender才会生效 -->
    <Loggers>
        <!-- 3rdparty Loggers -->
        <logger name="org.springframework.core" level="error">
        </logger>
        <logger name="org.springframework.beans" level="error">
        </logger>
        <logger name="org.springframework.context" level="error">
        </logger>
        <logger name="org.springframework.web" level="error">
        </logger>
        <logger name="com.a2008q.crud.controller" level="error" includeLocation="true" additivity="false">
            <appender-ref ref="Console"/>
        </logger>

        <root level="error" includeLocation="true">
            <appender-ref ref="Console"/>
        </root>
    </Loggers>
</Configuration>